In [1]:
import pandas as pd

In [10]:
user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
df=pd.read_table('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/u.user',sep='|',header=None,names=user_cols)

In [11]:
df.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [17]:
df.shape

(943, 5)

In [23]:
df[['age','gender','occupation','zip_code']].duplicated().sum()

7

In [26]:
df[['age','gender','occupation','zip_code']].drop_duplicates().shape

(936, 4)